# device name may be different on your system
[mcu heater]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0

# 1. Forces Klipper to allow the duplicate use of the sensor pin without an error
# pin name depends on the used mcu board, my example is a creality 1.1.5 board flashed with current klipper firmware
[duplicate_pin_override]
pins: PC0

# 2. We do NOT override the original section with incorrect pins,
# but simply leave it running untouched in the system.

# 3. PTC heater (legally uses the shared PC0 pin)
[heater_generic chamber_heater]
heater_pin: heater:PD4
sensor_type: Generic 3950
sensor_pin: PC0                        # Accesses the actual cavity sensor in parallel
control: watermark
max_delta: 1.0
min_temp: 0
max_temp: 85
max_power: 1                         # Protects the 360W power supply from high inrush current

# 4. Bento Box (air filter on the controllable PB4 output of the Creality board)
[fan_generic bento_box]
pin: heater:PB4
max_power: 1.0
shutdown_speed: 0.0
cycle_time: 0.010

# 5. Safety tolerance against a fast heater emergency shutdown
[verify_heater chamber_heater]
max_error: 120
check_gain_time: 900
hysteresis: 5
heating_gain: 1

# 6. G-Code macros
[gcode_macro SET_CHAMBER]
gcode:
  {% set target = params.TARGET|default(0)|int %}
  SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET={target}

[gcode_macro WAIT_CHAMBER]
gcode:
  {% set target = params.TARGET|default(0)|int %}
  TEMPERATURE_WAIT SENSOR="heater_generic_chamber_heater" MINIMUM={target}

[gcode_macro BENTO_ON]
gcode:
  SET_FAN_SPEED FAN=bento_box SPEED=1

[gcode_macro BENTO_OFF]
gcode:
  SET_FAN_SPEED FAN=bento_box SPEED=0.0
  
[gcode_macro DRY_FILAMENT]
description: Starts filament drying for 5.5 hours
gcode:
    # Immediately disable the stepper motors if they are still holding from the previous print
    M84
    
    SET_IDLE_TIMEOUT TIMEOUT=21000
    SET_FAN_SPEED FAN=bento_box SPEED=1
    SET_FAN_SPEED FAN=cavity_fan SPEED=0.08
    M140 S60
    SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET=55
    RESPOND MSG="Drying started: bed 60°C, chamber 55°C for 5.5 hours."
    UPDATE_DELAYED_GCODE ID=STOP_DRYER_TIMER DURATION=19800

[delayed_gcode STOP_DRYER_TIMER]
gcode:
    M140 S0
    SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET=0
    M84 # Also disables the motors after the final 
